<div class="container">
  <div class="search-container">
    <input type="text" placeholder="Type A Dish Name Here.." [value]="userInp" (input)="onInputChange($event)" />
    <button (click)="fetchMeal()">Search</button>
  </div>

  <!-- Filter Recipe -->
  <div class="filter-buttons">
    <button (click)="filterFoods('meat')">Meat</button>
    <button (click)="filterFoods('vegan')">Vegan</button>
    <button (click)="filterFoods('vegetarian')">Vegetarian</button>
  </div>
  
  <div class="food-list">
    <div *ngFor="let food of filteredFoods" class="recipe-card">
      <img [src]="food.image" alt="Food Image">
      <h3>{{ food.name }}</h3>
      <p>{{ food.description }}</p>
    </div>
  </div>

  <!-- Suggested Recipes Section -->
  <div class="suggested-recipes" *ngIf="suggestedRecipes.length > 0">
    <h2>Suggested Recipes</h2>
    <div class="recipes-container">
      <div
        *ngFor="let recipe of suggestedRecipes"
        class="recipe-card"
        (click)="selectSuggestedRecipe(recipe)"
      >
        <img [src]="recipe.strMealThumb" alt="{{ recipe.strMeal }}" />
        <h3>{{ recipe.strMeal }}</h3>
      </div>
    </div>
  </div>

  <div id="result">
    <div *ngIf="result?.error" class="error">
      <h3>{{ result.error }}</h3>
    </div>

    <div *ngIf="result && !result.error" class="meal-details">
      <img [src]="result.strMealThumb" alt="Meal Image" />
      <div class="details">
        <h2>{{ result.strMeal }}</h2>
        <h4>{{ result.strArea }}</h4>
      </div>

      <div id="ingredient-con">
        <ul>
          <li *ngFor="let ingredient of ingredients">{{ ingredient }}</li>
        </ul>
      </div>

      <div id="recipe">
        <button id="hide-recipe" (click)="toggleRecipeVisibility()">x</button>
        <pre id="instructions">{{ result.strInstructions }}</pre>
      </div>

      <button id="show-recipe" (click)="toggleRecipeVisibility()">View Recipe</button>
    </div>
  </div>
</div>
